<!DOCTYPE html>
<html lang="en">
{{> baseHead }}
<body>
    {{> siteHeader }}
    <div>
        <h2>Hello Welcome Page</h2>
        <p>What do U want??</p>
    </div>
    {{> siteFooter }}
</body>
</html>