<!DOCTYPE html>
<html lang="en">
{{> baseHead customTitle='New Post | ' }}
<body>
    {{> siteHeader }}
    <div>
        <h2>New Post!</h2>
        <p>My Question</p>
    </div>
    {{> siteFooter }}
</body>
</html>