<!DOCTYPE html>
<html lang="en">
{{> baseHead customTitle='Post All | ' }}
<body>
    {{> siteHeader }}
    <div>
        <h2>Post!!</h2>
        <p>Question No.</p>
    </div>
    {{> siteFooter }}
</body>
</html>